@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  width: 375px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.my-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  animation: logoAnimate 3s alternate-reverse 3s 2;
}

.hamburger {
  border: none;
  background: white;
  color: #6070ff;
  cursor: pointer;
}

.navbar-menu {
  display: none;
}

#main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  background-image: url(/images/backgound_image.svg);
  background-repeat: no-repeat;
  background-position: -20px 80px;
  margin-bottom: 4rem;
  padding-top: 2.2rem;
}

.cover-socials a {
  text-decoration: none;
  font-size: 22px;
  color: #505f79;
}

.socials a {
  text-decoration: none;
  font-size: 22px;
  color: #505f79;
}

@keyframes logoAnimate {
  from { transform: rotate(0) scale(1); }
  to { transform: rotate(360deg) scale(1.5); }
}

a:link {
  text-decoration: none;
}

.navbar-menu {
  display: none;
}

#navbar .navbar-menu a:hover {
  color: #396df2;
  font-weight: 700;
  cursor: pointer;
}

.headline {
  padding: 0 24px;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.cover-links {
  margin-bottom: 10px;
  color: #7f8cff;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.cover-socials {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 10px;
  padding: 0;
}

/* ///////// Projects ///////// */

.container {
  display: grid;
  grid-template-columns: auto;
  padding-bottom: 2rem;
}

.work-page-left,
.work-page-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 8px;
  margin: 1rem 1rem 4rem 1rem;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card3-image,
.card2-image,
.card1-image {
  margin: 1rem;
}

.card1-content,
.card2-content,
.card3-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card2-content {
  display: flex;
  flex-direction: column;
}

.work-title {
  width: 295px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 10px 1rem;
}

.clients {
  display: flex;
  flex-direction: row;
  margin: 25px 1rem 0;
}

.ptwo {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.img-clients {
  padding: 5px;
}

.highlights {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 0 1rem;
}

.project-detail {
  width: 100px;
  height: 40px;
  border-width: 1px;
  border-color: #396df2;
  border-radius: 0.5em;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #396df2;
  background: #fff;
  margin: 0.5rem 1rem 1.5rem;
}

.project-detail:hover {
  background: #6070ff;
  color: #fff;
}

.project-detail:active {
  background: #2230d2;
  color: #fff;
}

hr {
  border: 0;
  clear: both;
  display: block;
  background-color: #dfe1e6;
  height: 1px;
  margin: 1rem 3.5rem 1rem 3rem;
}

div .taggs {
  display: grid;
  grid-template-columns: 3.5rem 3rem 0.5rem;
  gap: 2px;
  padding-left: 1rem;
  margin: 0;
}

.tag1 {
  width: 50px;
  height: 20px;
  border: none;
  border-radius: 6px;
  margin-left: 0;
  color: #396df2;
  font-size: 12px;
}

.tag2 {
  width: 40px;
  height: 20px;
  margin-right: 4px;
  border: none;
  border-radius: 6px;
  color: #396df2;
  font-size: 12px;
}

.tag3 {
  width: 60px;
  height: 20px;
  margin-right: 8px;
  border: none;
  border-radius: 6px;
  color: #396df2;
  font-size: 12px;
}

/* ///////// About myself//////// */

.about-myself {
  box-sizing: border-box;
  padding: 1rem 1rem 8rem;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-top-right-radius: 5rem;
}

.about-myself-title {
  width: 100%;
  height: 101px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 1px;
  padding-left: 0.5rem;
}

.myself-content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 0 1rem 0 0.5rem;
}

.links {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 1px;
  padding-left: 0.5rem;
}

.socials {
  display: flex;
  list-style: none;
  padding: 0 1px;
}

.socials li {
  padding-left: 16px;
}

.resume {
  width: 130px;
  height: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border-width: 1px;
  border-color: #396df2;
  color: #396df2;
  border-radius: 0.5em;
  background: #fff;
  cursor: pointer;
  margin-left: 0.5rem;
}

.resume:hover {
  background: #6070ff;
  color: #fff;
}

.resume:active {
  background: #2230d2;
  color: #fff;
}

.languages {
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  padding-top: 1.2rem;
  padding-left: 1rem;
}

.scroll {
  display: none;
}

.framework-skills {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding: 0 0.5rem;
}

.framework-skills-desktop {
  display: none;
}

.frameworks {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin: 1em;
}

.greater-tag {
  margin-right: 2rem;
  font-size: 1.2rem;
  color: #ACB7C3;
}

/* Contact page */
.contact {
  width: 100%;
  height: 740px;
  background: #6070ff;
  background-image: url(/images/contact/layers.svg);
  background-size: 600px 750px;
  background-repeat: no-repeat;
  background-position-x: -70px;
  background-position-y: 10px;
  border-top-left-radius: 6rem;
  padding-bottom: 4rem;
  margin-top: -6rem;
}

.contact-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin-top: 80px;
  padding-top: 2.5rem;
  margin-bottom: 0;
}

.contact-content {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ebebff;
  padding: 0 1.5rem;
}

.my-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  gap: 1.3rem;
}

.inputField {
  padding: 0.9rem;
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.inputField:hover {
  transform: translate(5px);
}

.textareaField {
  border-radius: 10px;
  padding: 0.9rem;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 170px;
}

.textareaField:hover {
  transform: translate(5px);
}

.my-button {
  align-items: center;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  color: #6070ff;
  width: 50%;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background: #6070ff;
  color: #fff;
}

.btn:active {
  background: #2230d2;
  color: #fff;
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #e5e5e5;
  }

  #main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    background-image: url(/images/desktop_main/Header.svg);
    background-size: 1350px 600px;
    background-repeat: no-repeat;
    background-position: -20px 70px;
    margin-bottom: 4rem;
    padding: 10px 24px;
  }

  #navbar {
    padding: 0 6rem;
  }

  .my-logo {
    margin-top: 16px;
  }

  .navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }

  .navbar-menu a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #344563;
  }
  
  .hamburger {
    display: none;
  }

  .headline {
    padding: 6rem 160px;
  }

  /* ////// Projects /////// */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work-page-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    width: 80%;
    background: #fff;
    border: none;
    border-radius: 24px;
    padding: 2rem;
  }

  .work-page-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    background: #fff;
    border: none;
    border-radius: 24px;
    padding: 2rem;
  }

  .card1-content,
  .card3-content {
    margin: 30px 20px 0 0;
  }
  .card2-content {
    grid-row: 1/-2;
    margin: 30px 20px 0 0;
    padding-left: 15px;
  }
  
  .work-title {
    width: 100%;
  }

  .card1-image,
  .card2-image,
  .card3-image {
    transition: transform 0.3s;
  }

  .card1-image:hover,
  .card2-image:hover,
  .card3-image:hover {
    transform: scale(1.07);
  }


  .clients {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0 15px;
    margin: 1px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  div .taggs {
    float: right;
    width: 40px;
    height: 20px;
    padding-bottom: 20px;
  }

  .tag1 {
    width: 50px;
    height: 20px;
    margin-right: 8px;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
    color: #396df2;
  }

  .tag2 {
    width: 40px;
    height: 20px;
    margin-right: 8px;
    border: none;
    border-radius: 6px;
    color: #396df2;
  }

  .tag3 {
    width: 80px;
    height: 20px;
    margin-right: 8px;
    border: none;
    border-radius: 6px;
    color: #396df2;
  }

  /* //////// About-myself-desktop//////// */

  .about-myself {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background: #fff;
    border-top-right-radius: 6rem;
  }

  .about-myself-content {
    padding: 5rem 2rem 5rem 6.5rem;
  }

  .about-myself-languages {
    padding: 2.5rem 3rem 5rem 0;
    margin-top: 4rem;
  }

  .languages {
    padding-left: 0;
    padding-bottom: 0.6rem;
    color: #344563;
  }

  .scroll {
    display: block;
    position: absolute;
    right: 140px;
    font-size: 12px;
  }

  .framework-skills-desktop {
    display: flex;
    flex-direction: row;
  }

  .frameworks {
    display: flex;
    padding: 0.5rem 4rem 0.5rem 0;
  }

  .framework1 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  hr {
    margin-left: 1rem;
  }

  .html-skill,
  .css-skill {
    margin-right: 0.8rem;
  }

  .framework-skills {
    display: none;
  }

  .greater-tag {
    margin-right: 0;
  }
  

  /* //////// Contact ///////// */

  .contact {
    width: 100%;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    background-image: url(/images/desktop_main/contact_desktop.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }

  .my-form {
    padding: 0;
  }

  .footer-content {
    width: 447px;
  }

  .my-button {
    margin: auto;
    padding: 12px;
    background: #fff;
    border-radius: 8px;
    color: #6070ff;
    width: 160px;
    border: none;
    font-size: 17px;
    font-weight: 500;
  }

  .shape {
    display: none;
  }
}
